*{
    margin:0;
    padding:0 ;
}


hr{
    width: 30%;
    height: 1px;
    background-color: #ccc;
    border: 0;
    margin-bottom: 3px;
}
/* 
input[type='file']{
    display: none;
}

body{
    background-color: #eee;
}
    .top img{
        width: 50px;
        height: 50px;   
        margin-right: 50px;   
    }

    .top button{
        color:white;
        background-color: (0,0,0,0);
    }

    .top{
        display: flex;
         flex-direction: row;
        justify-content: space-between;
    }
header{
    box-sizing: border-box;
    background-color: rgb(0, 102, 255);
   background-position: top right ;
    padding: 4em 20px 0 20px;;
    color: white;
    width: 100%;
   
}

header h1{
    padding: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: ccntain;
}


 form{
    position: relative;
    top:10px;
     box-shadow: 2px 3px 9px rgb(65, 128, 223);
     border: 1px solid rgb(14, 133, 230);
     font-family: Arial, Helvetica, sans-serif;
    background-color:inherit ;
    padding:10px;
    padding-left:15px; 
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 1em;
}

form label{
    padding-bottom: 10px; 
}

form textarea{
    width: 70%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-top:5px;
    padding: 5px;
   
} 

form input{
    margin-top:5px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid orange;
}

form input:focus{
    font-size: 1em;
    border-bottom: 2px solid orangered;
}

form button{
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
} */


input[type='file']{
    display: none;
}

body{
    background-color: #eee;
    width:100vw !important;
    overflow:hidden;
}
  

    .top button{
        color:white;
        background-color: (0,0,0,0);
    }

    .top{
        display: flex;
         flex-direction: row;
        justify-content: space-between;
    }
  
header{
    background-color: purple;
    color: white;    
}

header h1{
    font-family: 'Acme', sans-serif;
}


 form{
padding-left: 2vw;
 
 color: white;
}

form label{
}

form textarea{
  
   
} 

form input{
    
}

form input:focus{
   
}

form button{
   
}

















.parent{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    text-align: center;
    width: 100%;
  
    padding: 10px 0;;

    align-items: center;
}

.parent h2{
    padding-bottom: 15px; 
    color:rgba(0,0,0,0.7);
}
.parent p{
    color: rgba(0,0,0,0.4);
    font-size: 1.2em;
}


.child{
   
    background-color:#eee;
    width: 80%;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #ccc;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 0;
   
}

.foot{
    padding:0;
   clear: both;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.foot span{
    padding-top:7px;
    flex-grow: 1;
}


.foot button{
    align-items: right;
}

.root{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center ;   
}

.root > div{
    
    color:white;
    border:1px solid white;
    display: inline-block;
    border-radius: 10%;
    padding: 2px;
    margin-left: 3px;
}

.root > div:first-child{
    border:0
}

.child div{
    padding:8px;   
}

.completed{
    border-radius: 5px;
    background-color: #2ecc71;
    color: white; 
    border: 1px solid white;
 
}

.completed:hover{
      transition-duration: 1s;
    font-size: 10px;
   background-color: #218d4e;
   
}
.deleted{
    width: 9em;
    margin-left:2em;
    color:white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #c0392b;
}





@media screen and (max-width: 900px){
    body{
        background-color:white;
        overflow:hidden;
        width: 100vw;
        max-height: 100vh;
        /* overflow: hidden; */
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 20vh;
        /* box-shadow: 3px 2px 3px #bbb,3px 2px 3px #bbb,3px 2px 3px #bbb; */
    }
    header ul{
        width: 95vw;
        display: flex;
        flex-direction:row;
        /* padding: 0 1em; */
        margin: 0 auto;
        /* text-align: center; */
    }
    header ul a{
        font-size: 13px !important;
        color:white !important;
        flex-grow: 1;
        border-radius: 0 !important;
        
    }

    header ul a span{
        text-align: center;
        color:rgba(190, 184, 186, 0.993);
        /* background-color: #ccc; */
        padding: 3px 6px; 
        border-radius: 60px;
        margin-bottom: 5px;
    }
    .activee{
        border-bottom: 3px solid white !important;
    }
    h1{
        font-family: sans-serif;
        padding-left: 14px;
        width: 90%;
        flex-grow:1;
        font-size: 2em;
    }
    h2{
        font-size: 1.4em;
    }
input[type='files']{
    display: none;
}

.top{
    display: flex;
    justify-content: space-between;
 
}

.section{
    display:flex;
    height: 80vh;
    padding:0;
    background-color: #c0392b;
    width: 300vw;
    overflow: auto;

}

.section div{
    width: 100vw;
}

.part_1{
    background-color:white;
}

.part_2{
   background-color: orange; 
}

.part_3{
  background-color:green;  
}
#container{
    
    width: 100vw;
    overflow: scroll;
}














   
    .child{
        width: 95%;
    }

    .child > div{
        padding: 1;
    }

    form textarea{
        width: 90%;
    }

    .child div{
       padding: -10px !important;   
    }


.foot{
   
    /* padding:10px; */
   clear: both;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.foot button{
   padding: 0 5px;
}


    .root div{
        padding: 7px 3px;
    }

   
    
    .completed{
        height: 50px;
        border-radius: 5px;
        background-color: #2ecc71;
        color: white; 
        border: 1px solid white;
     
    }
    
    .completed:hover{
          transition-duration: 1s;
        font-size: 10px;
       background-color: #218d4e;
       
    }
    .deleted{
        width: 9em;
        margin-left:2em;
        color:white;
        border: 1px solid white;
        border-radius: 5px;
        background-color: #c0392b;
    }

 
.add_item{
    /* background-color: rgba(190, 184, 186, 0.993); */
    
   /* // border: 2px solid green; */
    /* background-color: #fff; */
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #218d4e;
    background-image: url('../images/positive.jpg');
    background-size: cover;
    color: black;
}
 

.add_item form{
    /* background-color:orangered; */
    width: 90%;
    margin: 0 auto;
    padding: 0 10px 0 15px;
 
}
.add_item .submit{
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label{
    padding: 1px;
    font-size: 1.18em;
   color: rgb(14, 4, 14);

}
.btn {
    background-color: rgb(153, 10, 153);
  
}
.btn span{
    color: white;
}
.time{
    display: flex;
}

.time i{
    padding: 10px;
}

i.icon_purple{
    color: purple !important;
}

.input_field label{
    color:red !important;
}

.validate{
    border-bottom: 1px solid rgb(168, 24, 168) !important;
}
.validate:focus{
    border-color:rgb(234, 0, 255) !important;
    box-shadow: 2px 2px 2px purple !important; 
}

.datepicker-day-button{
    color: black;
}


}