*{
    margin:0;
    padding:0 ;
}


hr{
    width: 30%;
    height: 1px;
    background-color: #ccc;
    border: 0;
    margin-bottom: 3px;
}

.image{
    display: flex;
    flex-direction: space-between;
    position: relative;
    height: 170px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgb(128, 16, 156);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}
.image::before{
    content: '';
    display: flex;
    position: absolute;
    top:-1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    /* background-color: rgba(183, 128, 211, 0.2); */
    background-color: rgba(0,0,0,0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


input[type='file']{
    display: none;
}

body{
    background-color: white;
    width:100vw !important;
    overflow:hidden;
}
  

    .top button{
        color:white;
        background-color: (0,0,0,0);
    }

    .top{
        display: flex;
         flex-direction: row;
        justify-content: space-between;
    }
  
header{
    background-color: purple;
    color: white;    
}

header h1{
    font-family: 'Acme', sans-serif;
}


 form{
padding-left: 2vw;
 
 color: white;
}

.parent{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    text-align: center;
    width: 80%;
  
    padding: 10px;

    align-items: center;
}

.parent h2{
    padding-bottom: 15px; 
    color:rgba(0,0,0,0.7);
}
.parent p{
    color: rgba(0,0,0,0.4);
    font-size: 1.2em;
}


.child{
   
    background-color:#eee;
    width: 95% !important;
    border-radius: 2px;
    display: inline-block;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* border: 2px solid rgb(128, 16, 156); */
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 0;
   
}


.foot{
    padding:0;
   clear: both;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}


.foot span{
    padding-top:7px;
    flex-grow: 1;
}


.foot button{
    align-items: right;
}
.task{
    padding: 0 15px !important;
     border:0px;
     color: white;
     background-color:rgb(128, 16, 156);
}
.root{
    margin-top: -2px;
    background-color: rgb(128, 16, 156);
    color:white;
    font-size:0.7em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center ;   
}

.root > div{
    
    /* border:1px solid white; */
    display: inline-block;
    /* border-radius: 2%; */
    /* padding: 3px !important; */
    /* margin-left: 3px; */
    width: 4em !important;
}

.root > div:first-child{
    border:0;
    /* width: 6em !important; */
}

.child>div{
    padding:8px;  
    width: 100% !important;
}




@media screen and (max-width: 900px){
    body{
        background-color:white;
        overflow:hidden;
        width: 100vw;
        max-height: 100vh;
        /* overflow: hidden; */
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        height: 20vh;
        /* box-shadow: 3px 2px 3px #bbb,3px 2px 3px #bbb,3px 2px 3px #bbb; */
    }
    header ul{
        width: 95vw;
        display: flex;
        flex-direction:row;
        z-index: 1;
        /* padding: 0 1em; */
        margin: 0 auto;
        /* text-align: center; */
    }
    header ul a{
        font-size: 13px !important;
        color:white !important;
        flex-grow: 1;
        border-radius: 0 !important;
        
    }

    header ul a span{
        text-align: center;
        color:rgba(190, 184, 186, 0.993);
        /* background-color: #ccc; */
        padding: 3px 6px; 
        border-radius: 60px;
        margin-bottom: 5px;
    }
    .activee{
        border-bottom: 3px solid white !important;
    }
    h1{
        font-family: sans-serif;
        padding-left: 14px;
        width: 90%;
        flex-grow:1;
        font-size: 2em;
    }
    h2{
        font-size: 1.4em;
    }
input[type='files']{
    display: none;
}

.top{
    display: flex;
    justify-content: space-between;
 
}

.section{
    display:flex;
    height: 80vh;
    padding:0;
    /* background-color: #c0392b; */
    width: 300vw;
    overflow: auto;

}

.section div{
    width: 100vw;
}

.part_1{
    background-color:white;
}

.part_2{
   background-color: rgb(225, 228, 225); 
}

.part_3{
  background-color:rgb(250, 242, 240);  
}
#container{
    
    width: 100vw;
    overflow: scroll;
}

   
    .child{
        position: relative;
        width: 95%;
    }

    .child > div{
        padding: 1;
    }

    form textarea{
        width: 90%;
    }

    .child div{
       padding: -10px !important;   
    }


.foot{
   
    /* padding:10px; */
   clear: both;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #aaa;
}

 button{
   z-index: 2;
}


    .root div{
        padding: 7px 3px;
    }

   
    
    .completed{
        background-color: rgba(0,0,0,0.4);
        border:2px solid rgb(128, 16, 156);
        border-radius: 50%;
        width:27px;
        height:28px;
       
        /* position: absolute; */
        /* left:5px; */
        top: 0;
    }

    .completed img, .deleted img{
        /* z-index:3; */
        width: 28px;
        height: 26px;
        position: relative;
        top:-4px;
        left:-3px;
    }
    .deleted img{
         width: 26px;
        height: 25px;
    }
    
  
    .deleted{
        /* background-color: rgba(0,0,0,0.4);
        border:2px solid rgb(192, 5, 192);
        border-radius: 50%;
        width:27px;
        height:26px; */
        border: 0px;
        background-color: rgba(0,0,0,0);
      position: absolute;
      right:6px;
      top:9px;
      
        /* color:white;
        border: 1px solid white;
        border-radius: 5px;
        background-color: #c0392b; */
    }

 
.add_item{
    /* background-color: rgba(190, 184, 186, 0.993); */
    
   /* // border: 2px solid green; */
    /* background-color: #fff; */
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 0 30% 0;
    background-color: pink;
    background-image: url('../images/positive.jpg');
    background-size: cover;
    color: black;
    z-index: 2;
}
 

.add_item form{
    position: relative;
    /* background-color:orangered; */
    width: 90%;
    margin: 0 auto;
    padding: 0 10px 0 15px;
 
}
.add_item .submit{
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label{
    padding: 1px;
    font-size: 1.18em;
   color: rgb(14, 4, 14);
   font-family: 'Courier New', Courier, monospace;

}
.btn {
    background-color: rgb(153, 10, 153);
  
}
.btn span{
    color: white;
}

.time{
    display: flex;
}

.time i{
    padding: 10px;
}

i.icon_purple{
    color: purple !important;
}

.input_field label{
    color:red !important;
}

.validate, .time input, textarea{
    border-bottom: 1px solid rgb(168, 24, 168) !important;
}
.validate:focus{
    border-color:rgb(234, 0, 255) !important;
    box-shadow: 2px 2px 2px purple !important; 
}
.input-field > label{
    color:rgba(0,0,0,0.5) !important;
}

.active{
    color:rgb(65, 21, 65)!important;
}

.datepicker-day-button{
    color: black;
}

.title{
    /* position: absolute; */
    top: 1.5em;
    background-color:black;
    width: 78%;
    padding:  1em;
    font-size: 1.6em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-bottom:0.7em;
}

.timepicker-digital-display{
    background-color: rgb(49, 10, 49);
}

.timepicker-tick{
    /* background-color:#eee; */
}
.timepicker-close{
    color: rgb(170, 32, 170);;
}
.datepicker-date-display{
    background-color: rgb(49, 10, 49);
}
.datepicker-cancel,.datepicker-done{
    color:rgb(170, 32, 170);
}
.datepicker-table td.is-selected{
    background-color: orange;
} 
.datepicker-table td.is-selected{
    background-color: rgb(170, 32, 170);
    color: white !important;
}

::placeholder{
    color: rgb(136, 90, 136);
}

 input[type='file']{ 
    /* display: 'none'; */
}


}